server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:habitdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  jwt:
    issuer: "habit-tracker"
    # IMPORTANT: For real apps, store securely. This is fine for a local demo.
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS"
    expiration-minutes: 120

logging:
  level:
    org.hibernate.SQL: debug
